/* @import './components/AddressAutocomplete.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;



.hero {
  background-image: url('https://www.tpdsolar.com/uploads/20230125/ab50c34864e836a366b5b43eb4a63de1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}